.required{color:red}
.logout{
    position:fixed;
    right:10px;
    top:5px;
    color:red;
}
.btn {font-family: 'robotoslab-bold'; font-weight: 500; border-width: 0; padding: 9px 16px; box-shadow: inset 0 0 0 1px rgba(0,0,0,.08); text-indent: -99999px; display: inline-block; cursor: pointer; margin: 0 10px 0 0;}
.btn_delete{color: #fff; background:#ef553a url(../images/edit_icon.png) 50% 50% no-repeat; border-color:#ed4122;}
.btn_edit {color: #fff; background:#9FBC35 url(../images/delete_icon.png) 50% 50% no-repeat; border-color: #6A830F;}