.required{color:red;}
.logout{
    position:fixed;
    right:10px;
    top:5px;
    color:red;
}

.theme{
    color: #FE980F;
}

.adduser{float:right;}
.valid{color:green;}
.capitalize {
    text-transform: capitalize;
}
.table-responsive{
	overflow-x: hidden;
}
a.added_wishlist{
   pointer-events: none;
   color: red;
}

.add_wishlist_product{
    color:gray;
}

.cart_inline{
    display: inline;
    margin-left: 4px;
}

.cart_button{
    margin-left: 200px;float:right;margin-top: -23px;
}

.login_success{
     margin-left: 450px;
    font-size: 25px;
}

.payment{
     float:right;
}
.paysize{
     font-size: 20px;
}
.order-input {
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
}
.order_msg{
    font-size: 20px;
}
.track_head{
   margin-left: 126px;
   margin-top: 0px;
}
.active{
   color: #fdb45e;
}

.reply_button{
   background-color: #ff9900;
}

.track_center{
   margin-left: 265px;
}

.chart{
    margin-left: 10px;
    margin-right: 14px;
}

.head_align{
    text-align: center;
}
.glyphicon_align{
    margin-left: -147px;
}
.img_width{
    width: 50%;
    margin-left: -11px;
    margin-top: 10px;
}

.google_width{
    margin-left: -5px;
    width: 47%;
    margin-top: 10px;
}




.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}
